<div class="col" style="margin-top: 9%;"  align="center">
    <div class="card card-chart" style="padding: 3%;"  style="max-width: 50%;">
      <form  (ngSubmit)="submit()">
        <h5>تغيير كلمة المرور</h5>
        <div class="form-group"  align="right">
          <label for="exampleInputEmail1">اسم االمستخدم</label>
          <input type="text" class="form-control" placeholder="اسم االمستخدم" [(ngModel)]="user.username">
        </div>
        <div class="form-group"  align="right">
          <label for="exampleInputPassword1"> كلمة السر الجديدة</label>
          <input type="password" class="form-control" placeholder="كلمة السر الجديدة" [(ngModel)]="user.password">
        </div>
      
  
        <hr style="margin-top: 2%;">
  
     
        <button type="submit" class="btn btn-primary">تحديث</button>
      </form>
  
  
  
    </div>
  </div>
  
