<div class="row" align="right">
    <div class="col-md-12">
    <div class="card" *ngIf="user.roles[0].libelle == 'ADMIN'">
      <div class="card-header">
        <h4 class="card-title"> البحث في الأرشيف</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary" align="right">
              <th colspan="3">
                {{dossier.numDossier}}   رقم الأرشيف 
              </th>
  
            
            </thead>
            <thead class=" text-primary" align="right">
                <tr>
  
                 <th>حذف</th>
                 <th>المجموع</th>
                 <th> الصائر </th>
                 <th > الغرامة</th>
                 <th > نوع الحكم</th>
                 <th > وجهته</th>
                 <th > رقم البطاقة الوطنية</th>
                 <th > إسم المحكوم عليه</th>
                 <th > تاريخ الحكم</th>
                 <th >رقم الحكم</th>
                 <th > أحيل إلى </th>
                 <th > وصف الملف</th>
                 <th > تاريخ الملف</th>
                 <th >رقم الملف</th>
                 <th>اسم االمستخدم</th>
                  </tr>
             
            </thead>
            <tbody align="right"> 
            
                <td><button (click)="delete(dossier.numDossier)">حذف</button></td>
                <td>{{dossier.jugementModel.algharamaModels[0].montant + dossier.jugementModel.algharamaModels[0].assaeir}}</td>
                <td>{{dossier.jugementModel.algharamaModels[0].assaeir}}</td>
                <td>{{dossier.jugementModel.algharamaModels[0].montant}}</td>
                <td>{{dossier.jugementModel.jugementDescriptionModel.jugementDestinationModel.destination}}</td>
                <td>{{dossier.jugementModel.jugementDescriptionModel.description}}</td>
                <td>{{dossier.jugementModel.forcatModel.cin}}</td>
                <td>{{dossier.jugementModel.forcatModel.nom}}</td>
                <td>{{dossier.jugementModel.dateJugement}}</td>
                <td>{{dossier.jugementModel.numJugement}}</td>
                <td>{{dossier.descriptionDossierModel.destinationDossierModel.destination}}</td>
                <td>{{dossier.descriptionDossierModel.description}}</td>
                <td>{{dossier.date}}</td>
                <td>{{dossier.numDossier}}</td>
                <td>{{dossier.utilisateur.username}}</td>

               
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  
   
    </div>
  </div>
  
