<div class="col-md-8" align="right">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">رقم الملف  {{d.numDossier}}  </h5>
    </div>
    <div class="card-body">
      <form >
        <section  id="Myprint">
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>رقم الملف </label>
              <input type="text" class="form-control" disabled="" value="{{d.numDossier}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>تاريخ الملف</label>
              <input type="text" class="form-control" disabled="" value="{{d.date}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label> وصف الملف</label>
              <input type="text" class="form-control" disabled=""  value="{{d.descriptionDossierModel.description}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>أحيل إلى </label>
              <input type="text" class="form-control" disabled=""  value="{{d.descriptionDossierModel.destinationDossierModel.destination}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>رقم الحكم </label>
              <input type="text" class="form-control" disabled="" value="{{d.jugementModel.numJugement}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>تاريخ الحكم </label>
              <input type="text" class="form-control" disabled=""  value="{{d.jugementModel.dateJugement}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>إسم المحكوم عليه </label>
              <input type="text" class="form-control" disabled=""  value="{{d.jugementModel.forcatModel.nom}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>رقم البطاقة الوطنية</label>
              <input type="text" class="form-control" disabled="" value="{{d.jugementModel.forcatModel.cin}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>وجهته </label>
              <input type="text" class="form-control" disabled="" value="{{d.jugementModel.jugementDescriptionModel.description}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>نوع الحكم</label>
              <input type="text" class="form-control" disabled="" value="{{d.jugementModel.jugementDescriptionModel.jugementDestinationModel.destination}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>الغرامة</label>
              <input type="text" class="form-control" disabled=""  value="{{d.jugementModel.algharamaModels[0].montant}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>الصائر</label>
              <input type="text" class="form-control" disabled=""  value="{{d.jugementModel.algharamaModels[0].assaeir}}">
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>totale</label>
              <input type="text" class="form-control" disabled=""  value="{{d.jugementModel.algharamaModels[0].montant+d.jugementModel.algharamaModels[0].assaeir}}">
            </div>
          </div>
      </div>
    </section>
      </form>
      <form *ngIf="user.roles[0].libelle == 'SUPERUSER'">
      <div class="col-md-6 pr-1">
        <div class="form-group">
         
          <button (click)="delete(d.numDossier)">حذف</button>

        </div>
   
        <div class="form-group">
        
          <button (click)="update()">تعديل</button>

        </div>
      </div>
      </form>
      
    </div>
  </div>
  
</div>

